fastapi
uvicorn
langgraph
langchain
neo4j
chromadb
openai
python-dotenv
pydantic
langchain-community
sentence-transformers
pypdf
langchain-text-splitters
python-docx
docx2txt
langchain-huggingface
langchain-chroma
langchain_openai
langchain-ollama